* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(255, 4, 192), rgb(209, 118, 7));
    min-height: 99vh;
    font-size: 16px;
    font-family:  Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
}

.header {
    border-bottom: 2px solid rgb(255, 170, 0);
    height: 80px;
}

.header__container{
    max-width: 1920px;
    width: 1010px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.logo{
    font-size: 30px;
    margin-top: 20px;
}

.header__menu{
    display: flex;
    list-style-type: none;
    padding-right: 50px;
    margin-top: 20px;
}
.menu__item{
    margin-right: 20px;
}
.menu__item:hover{
    border-bottom: 1px solid rgb(201, 15, 15);
    color: rgb(209, 70, 70);
    transition: 500ms;
}

.main{
    max-width: 900px;
    width: 800px;
    margin: 0 auto;
}

.contacts{
    border: 3px solid rgb(252, 85, 85);
    margin-top: 20px;
    border-radius: 9px;
    padding: 3px;
    width: 400px;
}
.contacts:nth-child(2){
    transform: translateY(50%);
}
.main__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1040px;
    align-items: center;
    justify-content: space-between;
}

.tut{
   max-width: 900px;
    width: 800px;
    margin: 0 auto; 
}

.tut__cont2{
    display: flex;
    justify-content: space-between;
}
.conta2{
   border: 2px solid rgb(252, 85, 85);
    margin-top: 10px;
    border-radius: 9px;
    padding: 30px;
    width: 400px;
    height: 150px;
}


.tgf{
    border: 5px solid rgb(252, 85, 85);
    margin-top: 50px;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    
}

.KOH{
    border: 5px solid rgb(252, 85, 85);
    margin-top: 10px;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    display: flow-root;
   
    
}


.footer{
    border-bottom: 10px solid  rgb(255, 170, 0);
    height: 80px;
  position: fixed;
  bottom: 0;
  width: 100000%;
  
}



